.activity-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.activity-list li {
    position: relative;
    font-size: small;
    border: 1px solid #ededed;
    display: inline-block;
    width: 1in;
}

.activity-button {
    width: 100%;
    height: 100%;
}

.activity-icon {
    height: 100%;
}
