.activity-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.activity-list li {
    position: relative;
    font-size: 24px;
    border: 1px solid #ededed;
    display: inline-block;
    width: 1in;
}
